body,
html {
    font-family: sans-serif;
    height: 100%;
    margin: 0;
    box-sizing: border-box;
}

.contenedor {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #f9f9f9;
    margin: 0 auto;
}

/* CABECERA */

header {
    height: 100px;
    border-radius: 20px;
    text-align: center;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/Fondo-Header.jpg);
    background-size: cover;
    background-position: center;
}

header h1 {
    font-size: 42px;
    text-shadow:
        -2px -2px 0 #000000,
        2px -2px 0 #000000,
        -2px 2px 0 #000000,
        2px 2px 0 #000000;
    color: rgb(255, 255, 255);
}

/*************************************************/

.principal {
    flex-grow: 1;
    display: flex;
}

/* BARRA LATERAL */

section {
    width: 250px;
    background-color: #d7a94b;
    margin: 10px;
    padding-top: 12px;
    border-radius: 25px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

section button{
    height: 40px;
    width: 80%;
    background-color: #7e5607;
    border-radius: 20px;
    border: 0px;
    font-size: 16px;
    color: #f9f9f9;
    text-align: left;
    margin: 3px 0;
    padding-left: 30px;
}
section button a{
    padding-left: 5px;
    text-decoration: none;
    color: wheat;
}

section button i{
    color: #eda20b;
}

/* CONTENIDO PRINCIPAL */

main {
    flex-grow: 1;
    margin: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.migas_de_pan {
    margin-bottom: 10px;
    padding-right: 20px;
    text-align: right;
}

.migas_de_pan a {
    color: rgb(0, 0, 16);
    text-decoration: none;
}

.migas_de_pan p {
    margin: 0;
}

.contenido {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px black;
    border-radius: 25px;
}

/*************************************************/

/* PIE DE PÃGINA */

footer {
    background-color: rgba(198, 134, 15, 0.627);
    border-radius: 25px;
    margin: 10px;
    font-size: 14px;
}

.footer-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 5%;
}

.footer-section>div:last-child {
    text-align: right;
    padding-top: 65px;
}

.footer-section ul {
    list-style-type: circle;
}

.footer-section a {
    display: block;
    color: rgb(0, 0, 16);
    text-decoration: none;
}

.footer-section a:hover {
    color: rgb(108, 81, 6);
}

.informacion-carrera {
    margin-top: 2px;
    text-align: center;
}

/*************************************************/