body,
html {
    font-family: sans-serif;
    height: 100%;
    margin: 0;
    box-sizing: border-box;
}

.contenedor {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #f9f9f9;
    margin: 0 auto;
}

/************ CABECERA ************/
header {
    height: 100px;
    border-radius: 20px;
    text-align: center;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/Fondo-Header.jpg);
    background-size: cover;
    background-position: center center;
}

header h1 {
    font-size: 42px;
    text-shadow:
        -2px -2px 0 #000000,
        2px -2px 0 #000000,
        -2px 2px 0 #000000,
        2px 2px 0 #000000;
    color: rgb(255, 255, 255);
}

/*************************************************/

.principal {
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
}

/************ BARRA LATERAL ************/
.nav-bar {
    width: 280px;
    background-color: #d7a94b;
    margin: 10px;
    padding-top: 12px;
    border-radius: 25px;
    text-align: center;
    display: flex;
    flex-direction: column;
    min-width: 235px;
}

section button {
    height: 40px;
    width: 85%;
    background-color: #7e5607;
    border-radius: 20px;
    border: none;
    font-size: 16px;
    color: #f9f9f9;
    text-align: left;
    margin: 3px 0;
    padding: 0 20px;
    box-shadow: 2px 2px 5px rgba(12, 12, 12, 0.5);
}

section button a {
    padding-left: 5px;
    text-decoration: none;
    color: wheat;
}

section button i {
    color: #eda20b;
}

section button:hover {
    background-color: #402c03;
}

.actual {
    pointer-events: none;
    background-color: #161107;
    width: 80%;
    font-size: 14px;
    align-items: flex-end;
    justify-content: right;
}

/************ COMENTARIO ************/
.comentario {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 232, 157);
    margin: 90px 10px 10px 10px;
    border-radius: 15%;
}

.comentario-img {
    display: flex;
    height: 100px;
    width: 100px;
    justify-content: center;
    padding-left: 5px;
}

.comentario-img img {
    border-radius: 50%;
}

.comentario-contenido {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    padding: 0px 6px;
}

/************ CONTENIDO PRINCIPAL ************/
main {
    flex-grow: 1;
    margin: 10px;
    padding: 0;
    text-align: end;
    display: flex;
    flex-direction: column;
}

.migas_de_pan p {
    margin: 0px 10px 5px 0px;
}

.migas_de_pan a {
    text-decoration: none;
    color: #000000;
}

.contenido-principal {
    flex-grow: 1;
    border-radius: 25px;
    padding: 0px 10px;
    min-width: 600px;
    background: linear-gradient(to bottom, rgb(255, 201, 130), rgba(0, 0, 0, 0));
}

.contenido-principal iframe {
    width: 100%;
    height: 100%;
    border: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

/************ PIE DE PÃGINA ************/
footer {
    background-color: rgba(198, 134, 15, 0.627);
    border-radius: 25px;
    margin: 10px;
    font-size: 14px;
}

.footer-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 5%;
}

.footer-section > div:last-child {
    text-align: right;
    padding-top: 65px;
}

.footer-section ul {
    list-style-type: circle;
}

.footer-section a {
    display: block;
    color: rgb(0, 0, 16);
    text-decoration: none;
}

.footer-section a:hover {
    color: rgb(108, 81, 6);
}

.informacion-carrera {
    margin-top: 2px;
    text-align: center;
}

/*************************************************/

/************ MEDIA QUERIES ************/

@media (max-width: 992px) {
    .principal {
        flex-direction: column;
    }

    .nav-bar {
        width: 100%;
        min-width: 100%;
        margin: 10px 0; 
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .nav-bar div {
        width: 48%;
        margin-bottom: 5px;
    }

    .comentario {
        display: none;
    }

    main {
        margin: 10px 0;
        min-width: 100%;
    }

    .contenido-principal {
        padding: 0;
        min-width: 100%;
    }
}

@media (max-width: 768px) {
    header {
        font-size: 24px;
        height: auto;
        padding: 20px;
        min-width: 80%;
    }

    footer{
        min-width: 90%;  
    }

    header h1 {
        font-size: 28px;
    }

    .nav-bar button {
        width: 90%;
    }

    .comentario {
        flex-direction: column;
        margin: 20px 10px;
    }

    .comentario-img {
        margin-bottom: 10px;
    }
}


/* OTRA FORMA DE VER EL FOOTER, ME GUSTO MAS LA QUE ESTA AHORA */

/* @media (max-width: 576px) {
    .footer-section {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer-section > div {
        padding-top: 20px;
    }

    .nav-bar {
        flex-direction: column;
    }

    .nav-bar div {
        width: 100%;
        margin: 5px 0;
    }
} */
