/* CABECERA */
html {
    font-family: sans-serif;
}

header h2 {
    text-align: center;
    margin: 10px 0;
}

#contenedorHeader {
    background-color: blanchedalmond;
    border: 1px solid rgb(153, 91, 34);
    border-radius: 10px;
    width: 90%;
    max-width: 480px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    height: 45px;
    align-content: center;
}

div label {
    margin-right: 20px;
    padding-left: 10px;
}

header p {
    font-size: 14px;
    text-align: end;
    padding: 0 10px 10px 0;
    margin: 0;
}

header i {
    font-size: 25px;
    padding: 0 0 0 15px;
}

/* TABLA DE COTIZACIONES */

main {
    font-size: 20px;
    background-color: rgb(249, 238, 224);
    border: 1px solid rgb(198, 198, 238);
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    /*height: 52vh;*/
    margin: 0px 60px;
    padding: 10px;
   /* min-width: max-content;*/
}

table {
    border: 1px solid rgb(34, 114, 153);
    background-color: rgb(255, 255, 255);
    margin: 10px 0 5px 10px;
    border-radius: 10px;
    height: 25%;
    box-shadow: 2px 2px 10px rgba(12, 12, 12, 0.5);
    width: 40%;
    max-width: 700px;
    min-width: 300px;
}

.celdaTipoMoneda {
    width: 180px;
    min-width: min-content;
    text-align: start;
    padding: 0 0 0 20px;
    font-size: medium;

}

.fila1 {
    color: rgb(133, 157, 216);
    font-size: small;
}

.fila2 {
    color: rgb(37, 62, 109);
    width: 100px;
}

#estrella1 {

    display: flex;
    text-align: right;
    justify-content: end;
    align-items: end;
    color: rgb(214, 214, 214);
}

#estrella1:active {
    color: rgb(241, 223, 24);
}


/* FOOTER */
#footerText1 {
    font-size: 14px;
    color: rgb(244, 85, 57);
    font-style: italic;
    margin: 10px 0;
}

#footerText2 {
    font-size: 14px;
    color: rgb(57, 101, 244);
    font-style: italic;
    text-align: end;
    margin: 0;
}

/* MEDIA QUERIES */

@media (max-width: 1000px) {
    main {
        flex-direction: column;
        height: auto;
        min-width: 350px;
        margin: 0;
    }

    table {
        width: auto;
    }
}